{
	"env": {
		"node": true,
		"browser": true,
		"es6": true,
		"jquery": true,
		"mocha": true
	},
	"parser": "babel-eslint",
	"settings": {
		"ecmascript": 6
	},

	"plugins": ["react"],
	"extends": "airbnb",

  "rules": {
	/*
	* Possible Errors
	* The following rules point out areas where you might have made mistakes.
	*/
	"comma-dangle": ["error", {
		"arrays": "never",
		"objects": "never",
		"imports": "never",
		"exports": "never",
		"functions": "ignore",
	}], // disallow or enforce trailing commas

	"react/jsx-filename-extension": 0,

	"import/no-extraneous-dependencies": 0, 
	"import/no-unresolved": ["error", {
			"ignore": [
				"ReactApp",
				"actionCreator",
				"components",
				"constants",
				"stores",
				"routes",
				"utils"
			]
		}]
	}
}