.image-placeholder {
  width: 100%;
  display: block;
  position: relative;
}
.image-placeholder:before {
  content: ' ';
  display: block;
  position: absolute;
  height: calc(100%);
  width: 100%;
  background-color: #e6e6e6;
}
.image-placeholder:after {
  content: " " attr(alt);
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
}
